openapi: 3.2.0
info:
  title: AgentCash Invite Codes API
  description: Wallet management, search, and payment APIs for AgentCash.
  version: 0.1.2
  x-guidance: 'AgentCash exposes SIWX and paid endpoints for wallet-connected agents.


    ## SIWX endpoints (free, wallet identity required)

    - POST /api/search — search for relevant API origins by natural language query

    - POST /api/invite-codes — manage invite codes

    - POST /api/organizations — manage organizations


    ## Paid endpoints (x402 or MPP)

    - POST /api/send — send USDC on Base or Solana


    Registration is handled directly by x402scan (POST /api/x402/registry/register-origin) and mppscan (POST /api/mpp/register).'
  guidance: 'AgentCash exposes SIWX and paid endpoints for wallet-connected agents.


    ## SIWX endpoints (free, wallet identity required)

    - POST /api/search — search for relevant API origins by natural language query

    - POST /api/invite-codes — manage invite codes

    - POST /api/organizations — manage organizations


    ## Paid endpoints (x402 or MPP)

    - POST /api/send — send USDC on Base or Solana


    Registration is handled directly by x402scan (POST /api/x402/registry/register-origin) and mppscan (POST /api/mpp/register).'
  contact:
    name: Merit Systems
    url: https://merit.systems
servers:
- url: https://agentcash.dev
tags:
- name: Invite Codes
paths:
  /api/invite-codes:
    post:
      operationId: invite-codes
      summary: Create an invite code (personal or for an organization)
      tags:
      - Invite Codes
      security:
      - siwx: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: string
                amount:
                  type: integer
                  minimum: 1
                  maximum: 9007199254740991
                network:
                  type: string
                  enum:
                  - base
                  - tempo
                  - solana
                maxRedemptions:
                  type: integer
                  minimum: 1
                  maximum: 9007199254740991
                note:
                  type: string
                expiresAt:
                  type: string
                  format: date-time
              required:
              - amount
      responses:
        '200':
          description: Successful response
        '402':
          description: Authentication Required
components:
  securitySchemes:
    siwx:
      type: apiKey
      in: header
      name: SIGN-IN-WITH-X
