openapi: 3.1.0
info:
  title: Merit Systems API
  description: >-
    REST API for Merit Systems' open-source financial rails — query GitHub
    user and repository USDC balances and outgoing payments funded through the
    Merit Terminal. Faithfully generated by the API Evangelist enrichment
    pipeline from the provider-published API reference (sdk/api.md).
  version: v1
  contact:
    name: Merit Systems
    url: https://merit.systems
x-apievangelist:
  generated: '2026-07-20'
  method: generated
  source: https://github.com/merit-systems/sdk/blob/master/api.md
servers:
  - url: https://api.merit.systems/v1
security:
  - apiKey: []
tags:
  - name: Balances
  - name: Payments
paths:
  /users/{login}/balance:
    get:
      operationId: getUserBalanceByLogin
      summary: Get user balance by GitHub login
      tags: [Balances]
      parameters:
        - name: login
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User balance
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserBalance' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /user/{user_id}/balance:
    get:
      operationId: getUserBalanceByGithubId
      summary: Get user balance by user ID
      tags: [Balances]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: User balance
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserBalance' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /repos/{owner}/{repo}/balance:
    get:
      operationId: getRepoBalanceByName
      summary: Get repository balance by owner/repo name
      tags: [Balances]
      parameters:
        - name: owner
          in: path
          required: true
          schema: { type: string }
        - name: repo
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Repository balance
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepoBalance' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /repositories/{repo_id}/balance:
    get:
      operationId: getRepoBalanceByRepoId
      summary: Get repository balance by repository ID
      tags: [Balances]
      parameters:
        - name: repo_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Repository balance
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepoBalance' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /user/{user_id}/payments:
    get:
      operationId: getPaymentsBySender
      summary: Get paginated user payments sent by the user
      tags: [Payments]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: integer }
        - name: group_id
          in: query
          required: false
          description: Filter by specific group ID (UUID)
          schema: { type: string, format: uuid }
        - name: page_size
          in: query
          required: false
          description: 'Maximum number of results to return (default: 50, max: 100)'
          schema: { type: integer, default: 50, maximum: 100 }
        - name: page
          in: query
          required: false
          description: 'Page number for pagination (default: 1)'
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: Paginated outgoing payments
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedOutgoingPayments' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Amount:
      type: object
      properties:
        raw: { type: string }
        formatted: { type: string }
      required: [raw, formatted]
    UserBalance:
      type: object
      properties:
        user_id: { type: integer }
        login: { type: string }
        balance: { $ref: '#/components/schemas/Amount' }
      required: [user_id, login, balance]
    RepoBalance:
      type: object
      properties:
        repo_id: { type: integer }
        owner: { type: string }
        repo: { type: string }
        balance: { $ref: '#/components/schemas/Amount' }
      required: [repo_id, owner, repo, balance]
    OutgoingPayment:
      type: object
      properties:
        type:
          type: string
          enum: [UserPayment, RepoFund]
        sender_id: { type: integer }
        recipient_id: { type: integer, description: Present for UserPayment }
        repo_id: { type: integer, description: Present for RepoFund }
        amount: { $ref: '#/components/schemas/Amount' }
        token: { type: string }
        timestamp: { type: string, format: date-time }
        tx_hash: { type: string }
        group_id: { type: string }
        claim_status:
          type: string
          enum: [Claimed, Deposited, Reclaimed]
        claim_deadline: { type: string, format: date-time }
      required: [type, sender_id, amount, token, timestamp, tx_hash]
    PaginatedOutgoingPayments:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/OutgoingPayment' }
        page_size: { type: integer }
        page: { type: integer }
        total_count: { type: integer }
        has_next: { type: boolean }
      required: [items, page_size, page, total_count, has_next]
    Error:
      type: object
      description: Standard error envelope returned on non-2xx responses.
      properties:
        status: { type: integer }
        message: { type: string }
        request_id: { type: string }
      required: [status, message]
